{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% set pager = render_pagination(blobs) %}

{% block content %}
    <h1>Articles:</h1>
    {{ pager }}
    <table class="table table-striped">
    <thead>
        <th>summary</th>
        <th>source</th>
    </thead>
    {% for doc in blobs.items %}
        <tr>
            <td><a href="{{ doc.blob.link }}" target="_blank">{{ doc.blob.title }}</td>
            <td><a href="{{ doc.blob.source.href }}" target="_blank">{{ doc.blob.source.title }}</a></td>
        </tr>
    {% endfor %}
    </table>
    {{ pager }}
{% endblock %}
